<div class="home__container">
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="Battlefield V"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 250,00"
	></app-card>

	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="Battlefield 1"
		gameType="DISC | PS5"
		gamePrice="R$ 350,00"
	></app-card>

	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="Assassin's Creed"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 150,00"
	></app-card>

	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="Battlefield: Hardline"
		gameType="DISC | PS5"
		gamePrice="R$ 50,00"
	></app-card>
</div>
